*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 30px
}
thead{
    background-color: #424042;
    color: whitesmoke;
    
}thead th{
    padding: 5px;
    width: 100px;
}
tbody tr:nth-child(even){
    background-color: aliceblue;
}
tbody tr:nth-child(odd){
    background-color:#E9E7E9 ;
}
tbody tr:last-child{
    background-color: #424042;
    color: whitesmoke;
}
.qt{
    text-align: center;
    
}
.up, .subt{
    text-align: right;
    padding-right: 0.5rem;
}
tbody{
    line-height: 2rem;
}
.bot{
   width: 610px;
   text-align: right;
    
}
button{
    margin-top: 10px;
    font-size: 1rem;
    background-color: salmon;
    
}
.con{
    margin-right: 5px;
    padding: 0.5rem
}
.pay{
    padding: 0.5rem;
}
tbody tr i:first-child{
    padding-left: 0.5rem;
    padding-right: 2rem;
}
tbody tr i:first-child:hover{
    color: rgb(83, 228, 0);
    cursor: pointer;
}
tbody tr i:last-child:hover{
    color: red;
    cursor: pointer;
}
div button:first-child:hover{
    font-size: 2rem;
}
div button:last-child:hover{
    font-size: 2rem;
}
tbody tr td:nth-child(-n+5):hover{
    color: blue;
    cursor: pointer;
    font-size: 1.5rem;
    
}



